body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #fff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.title {
  font-size: 2.5rem;
  font-family: 'Lobster', cursive;
}

.wrapper {
  animation: scroll 999s linear infinite;
  background: url('./photo-1465146633011-14f8e0781093.jpeg'), #111111;
  background-repeat: repeat;
  color: #eee;
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  perspective: 1000px;
  perspective-origin: 50% 50%;
  padding: 20px 0 20px;
  box-sizing: border-box;
  overflow: hidden;
}

@keyframes scroll {
  100% {
    background-position: 0px -5000px;
  }
}

@media (prefers-reduced-motion) {
  .wrapper {
    animation: scroll 999s linear infinite;
  }
}


.ms-TextField-errorMessage {
  color: white !important;
}

.ms-DetailsHeader {
  padding-top: 0 !important;
  background: rgba(255, 255, 255, 0.1) !important;
}

.ms-DetailsHeader > div {
  color: white !important;
}

.ms-DetailsHeader > div:hover {
  color: white !important;
  background: unset !important;
}

.ms-DetailsRow {
  background: rgba(255, 255, 255, 0.1) !important;
  color: white !important;
  font-weight: bold;
}

.textDescr {
  margin: 20px 0 20px;
  text-align: center;
  width: 400px;
}
.madeby {
  margin-bottom: 30px;
   width: 400px;
  text-align: center;
}

.date_picker {
  width: 440px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 15px 0;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.1);
  box-sizing: border-box;
}
.date_picker > * {
  margin: 0 auto;
}

@media (max-width: 670px) {
  .title {
    font-size: 5rem;
  }
  .textDescr {
    margin: 20px 0 20px;
    text-align: center;
    width: unset;
  }
  .madeby {
    margin-bottom: 30px;
    width: unset;
    text-align: center;
  }
  .date_picker {
    width: 98vw;
    margin: 0 auto;
  }
  .ms-DatePicker, .ms-TextField {
    width: 300px;
  }

  .ms-FocusZone {
    min-width: unset!important;
    margin: 0 auto;
  }
}
